// Variables

// ESTILOS GLOBALES

// Animación para los botones submit con loader spinner

.animacion-cargando {
  -animation: spin .7s infinite linear;
  -webkit-animation: spin2 .7s infinite linear;
}

@-webkit-keyframes spin2 {
  from { -webkit-transform: rotate(0deg);}
  to { -webkit-transform: rotate(360deg);}
}

@keyframes spin {
  from { transform: scale(1) rotate(0deg);}
  to { transform: scale(1) rotate(360deg);}
}

// No arrunar las columnas cuando los textos son demasiado largos

.componer-textos-largos {
  white-space:nowrap;
  text-overflow:ellipsis;
  overflow:hidden;
}




@gray-darker: lighten(#000, 13.5%);
@gray-dark: lighten(#000, 20%);
@gray: lighten(#000, 33.5%);
@gray-light: lighten(#000, 60%);
@gray-lighter: lighten(#000, 93.5%);
@gray-lightest: lighten(#000, 97.25%);
@brand-primary: #428bca;
@brand-success: #5cb85c;
@brand-info: #5bc0de;
@brand-warning: #f0ad4e;
@brand-danger: #d9534f;
@pink-demos: #f35c63;

@import "../imports/ui/components/demos/demos.less";
@import "../imports/ui/components/app/app.less";
@import "../imports/ui/components/comun/titulo/titulo";
