<nav class="navbar navbar-default">
    <div class="container">
        <div class="navbar-header">
            <div class="row">
                <div class="col-xs-6">
                    <img src="/images/logo_100_x_100.png">
                </div>
                <div class="col-xs-6">
                    <div class="navbar-brand ">
                        <h4>Demostradoras</h4>
                        <h6 class="text-center">CON EXPERIENCIA</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>
<div class="container">
    <h1 class="text-center titulos">Demostradoras con Experiencia</h1>
    <h2 class="text-center">Términos y condiciones del servicio</h2>
    <h3 class="titulos">1. Introducción:</h3>
    <p>
        Esta página establece los "términos y condiciones" bajo los cuales usted puede utilizar
        demostradorasconexperiencia.com Por favor lea esta página cuidadosamente. Si no acepta los términos y
        condiciones establecidos aquí, no utilice este sitio de Internet ni este servicio.
    </p>
    <h3 class="titulos">2. Aceptación de Términos:</h3>
    <p>
        Al utilizar este sitio de Internet, usted acepta obligarse a éstos términos y condiciones. Los términos y
        condiciones pueden ser actualizados por demostradorasconexperiencia.com en cualquier momento y sin previo aviso
        por lo que debe visitar ésta página periódicamente para consultar la versión más reciente de los términos y
        condiciones. Los términos "usted" y "usuario" según se utilizan aquí hacen referencia a todas las personas y/o
        entidades que acceden a este sitio de Internet por cualquier razón.
    </p>
    <h3 class="titulos">3. Acuerdo Obligatorio:</h3>
    <p>
        Estos términos (pueden ser cambiados periódicamente por demostradorasconexperiencia.com) forman un acuerdo
        obligatorio entre usted y demostradorasconexperiencia.com. El acceso y uso de demostradorasconexperiencia.com
        indica su aceptación de estos términos. Asimismo, usted acuerda utilizar occmundial.com a su propio riesgo.
        Tratándose de contratación electrónica de servicios, ésta se perfeccionará desde que se reciba la aceptación de
        la propuesta o las condiciones con que ésta fuere modificada.
    </p>
    <h3 class="titulos">4. Descripción del Servicio:</h3>
    <p>
        Los servicios que se prestan a través del sitio demostradorasconexperiencia.com, son exclusivamente de
        proporcionando una plataforma para que empleadores ajenos a demostradorasconexperiencia.com publiquen ofertas de
        trabajo y vacantes de empleo, y a su vez los candidatos publiquen sus currículums o datos de contacto en el
        sistema. De igual forma, demostradorasconexperiencia.com es un intermediario para la oferta de servicios
        educativos y de capacitación prestados por terceros, con los cuales demostradorasconexperiencia.com mantiene
        convenios de colaboración. Queda establecido que usted entiende y acepta que el servicio puede incluir ciertas
        comunicaciones de demostradorasconexperiencia.com, como mensajes administrativos y anuncios de servicio, éstas
        comunicaciones son consideradas como parte del servicio dedemostradorasconexperiencia.com y usted no puede
        excluir la recepción de dichas comunicaciones. La liberación de nuevos productos y propiedades, queda sujeta a
        éstos términos. Usted entiende y acuerda que los servicios mencionados anteriormente son proporcionados “como-
        es" y que demostradorasconexperiencia.com no asumen ninguna responsabilidad por la eliminación, falla en la
        entrega o en el almacenamiento de cualquier comunicación o características de personalización. Si un usuario de
        demostradorasconexperiencia.com desea dejar de recibir estás comunicaciones, el usuario puede envíar un correo
        eléctronico a demostradorasconexperiencia@hotmail.com solicitando su baja en el sistema.
    </p>
    <h3 class="titulos">5. Definiciones:</h3>
    <p>
        Las siguientes son definiciones de términos usadas o aplicadas a la información aquí contenida:
    <ul>
        <li>“Recolección de datos del Candidato": significa el proceso de obtener información (personal y/o de empleo)
            sobre un candidato utilizando información falsa, ficticia, engañosa que atraigan a un candidato con el fin
            de obtener información personal o de empleo que el ó ella no divulgarían si la intención de dicha oferta
            fuera previamente conocida por el candidato.
        </li>
        <li>“Contenido":: Incluye todo el texto, gráficas, diseño y programación usada en el Sitio Web y APP.</li>
        <li>“Diseño":: Incluye las combinaciones de color y el diseño de la página WEB y APP</li>
        <li>“Empleador": Significa la persona o entidad que ingresa al sitio para colocar una oferta de trabajo o por
            cualquier razón relacionada al propósito de buscar candidatos.
        </li>
        <li>“Gráficas": Incluye todos los logotipos, botones y otros elementos gráficos en el Sitio Web Y APP, con la
            excepción de banners de publicidad.
        </li>
        <li>"Sitio demostradorasconexperiencia.com :" incluye www.demostradorasconexperiencia.com en su totalidad y sus
            sitios relacionados que opera, incluyendo su contenido, texto, gráficas, diseño, programación y servicios
            aplicables en el contexto.
        </li>
        <li>“Candidato": significa un usuario que accede al Sitio Web y APP para buscar un empleo y que no es un
            empleador.
        </li>
        <li>“Materiales": Se refiere a cualquier publicación hecha en el Sitio Web y APP.</li>
        <li>“Programación": Incluye códigos de ambos lados del cliente (HTML, JavaScript, etc.) y el código del servidor
            (Páginas activas del servidor, VBScript, Bases de Datos, etc.) usadas en el Sitio Web y APP.
        </li>
        <li>“Servicios": Significa cualquier servicio proporcionado en Internet por demostradorasconexperiencia.com.
        </li>
        <li>“Texto": Incluye todo el texto en cada página del Sitio Web y APP, ya sea editorial, de navegación en la
            página ó instruccional.
        </li>
        <li>“Terceras partes": Incluye cualquier persona o entidad no especificada directamente en este acuerdo.</li>
        <li>“Usuario": Se refiere a cualquier individuo o entidad que utilice cualquier aspecto del Sitio Web y APP.
        </li>
        <li>“Usted": significa la persona (o la entidad representada por la que se está actuando) que está aceptando
            éstos términos y condiciones.
        </li>
    </ul>
    </p>
    <h3 class="titulos">6. Reglas de Uso General del Sitio:</h3>
    <p>demostradorasconexperiencia.com: El portal está previsto para individuos que buscan trabajo y para empleadores o
        reclutadores que buscan candidatos para ofrecerles empleo. Usted debe usar este Sitio Web y APP con intenciones
        legítimas, demostradorasconexperiencia.com es la única entidad que interpretará el uso aceptable del Sitio Web y
        APP.</p>
    <h3 class="titulos">7. Licencia de uso para empresas:</h3>
    <p>
        demostradorasconexperiencia.com otorga un acuerdo de responsabilidad limitada, terminable y con derechos de no
        exclusividad para accesar y usar el Sitio Web y APP para el uso interno de la empresa en la búsqueda de
        candidatos para ofrecerles empleo. Esto le autoriza a usted a ver y bajar una copia del material del Sitio Web y
        APP solamente para su uso personal con el propósito de buscar y reclutar candidatos.
        demostradorasconexperiencia.com se reserva el derecho de suspender sus claves de acceso o dar por terminado su
        contrato si se determina que existe un incumplimiento de cualquiera de estos términos y condiciones. Usted no
        podrá comercializar ni revender en forma alguna los servicios o porciones de éstos. Estos términos se hacen
        extensibles al uso de todas las modalidades y herramientas.
    </p>
    <p>
        La empresa contratante generará una clave de usuario administrador, cuyo titular será responsable de la
        existencia y veracidad de la información de las subcuentas generadas, así como por el uso que dichas claves den
        al servicio contratado por la empresa.
    </p>
    <p>
        De conformidad con la Ley Federal de Protección de Datos Personales en Posesión de los Particulares,
        demostradorasconexperiencia.com es responsable transferente y el cliente se convierte en responsable receptor,
        por lo que en cumplimiento con las disposiciones de la materia, el cliente al contratar el servicio, se obliga
        a:
    <ul>
        <li>Mantener la confidencialidad de los datos personales únicamente para efectos de reclutamiento y selección de
            personal y con ningún otro propósito.
        </li>
        <li>No transferir a ningún tercero, datos personales que recibe en su calidad de responsable receptor, salvo por
            lo dispuesto en el artículo 70 de reglamento de LFPDPPP.
        </li>
        <li>Garantizar que solo sus empleados tendrán acceso a los datos transferidos y que ninguno de ellos dará un
            tratamiento distinto al de reclutamiento y selección de personal.
        </li>
    </ul>
    </p>
    <p>
        demostradorasconexperiencia.com se deslinda de cualquier responsabilidad presente o futura, que surja del uso no
        convenido de los datos personales que le han sido transferidos a los clientes.
    </p>
    <h3 class="titulos">8. Licencia de uso para Candidatos:</h3>
    <p>
        demostradorasconexperiencia.com otorga un acuerdo de responsabilidad limitada, terminable y con derechos de no
        exclusividad para accesar y usar el Sitio Web y APP para el uso personal en la búsqueda de oportunidades de
        empleo para usted mismo. Esto le autoriza a usted a ver y a bajar una copia del material del Sitio Web y APP
        solamente para su uso personal y no para uso comercial con fines de lucro. Su uso del Sitio Web y APP es un
        privilegio. demostradorasconexperiencia.com se reserva el derecho de suspender o terminar este privilegio por
        cualquier razón y en cualquier momento. Estos términos se hacen extensibles al uso de todas las modalidades y
        herramientas.
    </p>
    <h3 class="titulos">Otras Reglas Particulares de Uso del Sitio Web y APP:</h3>
    <p>
        Usted representa, garantiza y acepta que usted no usará (o planeará, motivará o ayudará a otros a usar) el Sitio
        Web y APP para cualquier otro propósito o que en cualquier manera esté prohibido por los términos aquí
        mencionados o los que sean aplicables por ley. Es su responsabilidad asegurar que usted use el Sitio Web y APP
        de acuerdo a los términos aquí especificados.
    </p>
    <h3 class="titulos">10. Reglas de Publicación. Conducta y Seguridad:</h3>
    <p>
        Usted acepta cumplir con las reglas de demostradorasconexperiencia.com para la Publicación de Vacantes, de
        Conducta y de Seguridad en este sitio Web y APP. Usuarios que violen dichas reglas tendrán el uso y el acceso
        del sitio suspendido o cancelado a discreción exclusiva de demostradorasconexperiencia.com.
    </p>
    <p>
        demostradorasconexperiencia.com se reserva el derecho de cambiar estas reglas. Las reglas de Conducta,
        Publicación y Seguridad son como se describe a continuación:
    </p>
    <h3 class="titulos">10.1 General:</h3>
    <p>
        La información de contacto de demostradorasconexperiencia.com está listada en el Sitio Web.
        demostradorasconexperiencia.com y sus agentes asociados no asume responsabilidad de que el contenido sea
        apropiado o sea bajado fuera de la República Mexicana. El acceso al contenido del sitio de Internet puede no ser
        legal para ciertas personas o en ciertos países. Si usted tiene acceso al contenido del sitio de Internet desde
        fuera de la República Mexicana, lo hace a su propio riesgo y es responsable por el cumplimiento de las leyes
        dentro de su jurisdicción. El Usuario se compromete a utilizar el Sitio Web y APP los Servicios de conformidad
        con la ley, estas Condiciones Generales, las Condiciones Particulares aplicables, así como con la moral y buenas
        costumbres generalmente aceptadas y el orden público. demostradorasconexperiencia.com excluye cualquier
        responsabilidad por los daños y perjuicios de toda naturaleza que puedan deberse a los servicios prestados por
        terceros a través del Sitio Web y APP, y en particular, aunque no de modo exclusivo por los daños y perjuicios
        que puedan deberse a el incumplimiento de la ley, la moral y las buenas costumbres generalmente aceptadas o de
        orden público como consecuencia de la prestación de servicios por terceros a través del Sitio Web y APP; la
        infracción de los derechos de propiedad intelectual e industrial, de los secretos empresariales, de compromisos
        contractuales de cualquier clase, de los derechos al honor, a la intimidad personal y familiar y a la imagen de
        las personas, de los derechos de propiedad y de toda otra naturaleza pertenecientes a un tercero como
        consecuencia de la prestación de servicios por terceros a través del portal; la realización de actos de
        competencia desleal y publicidad ilícita como consecuencia de la prestación de servicios por terceros a través
        del portal, la falta de veracidad, exactitud, exhaustividad, pertinencia y/o actualidad de los contenidos
        transmitidos, difundidos, almacenados, recibidos, obtenidos, puestos a disposición o accesibles mediante los
        servicios prestados por terceros a través del portal; el incumplimiento, retraso en el cumplimiento,
        cumplimiento defectuosos o terminación por cualquier causa de las obligaciones contraídas por terceros y
        contratos realizados con terceros en relación o con motivo de la prestación de servicios a través del portal;
        los vicios y defectos de toda clase de los servicios prestados a través del portal. Usted no debe asignar o
        transferir sus obligaciones bajo estos términos, estas condiciones constituyen todo el contrato entre usted y la
        empresa con respecto al uso del sitio de Internet. demostradorasconexperiencia.com se reserva el derecho a
        denegar o retirar el acceso al Portal y/o a los Servicios, en cualquier momento y sin necesidad de preaviso, a
        aquellos usuarios que incumplan estas Condiciones Generales o las Condiciones Particulares que resulten de la
        aplicación.
    </p>
    <h3 class="titulos">10.2 Reglas de Publicación:</h3>
    <p>
    <ul>
        <h3 class="titulos">A. Su (s) Material (es) no deben contener:</h3>
        <li>
            Hipervínculos, hiperenlace, ligas o direcciones URL’s que no estén previamente contratados e incluidos en
            nuestro “Paquete de Direccionamiento" en tal caso, los enlaces deben ir dirigidos exclusivamente al sitio
            con el dominio de la página principal (Home Page) de usted, la empresa contratante, o cualquier variante de
            ese dominio, tal como son directorios y subdirectorios.
        </li>
        <li>
            No debe publicar simultáneamente la misma vacante.
        </li>
        <li>
            Publicación de diversos perfiles en la misma vacante.
        </li>
        <li>
            Material que requiera derechos de autor (a menos que se tengan los derechos y/o el permiso del autor para su
            publicación);
        </li>
        <li>
            Información confidencial o secretos corporativos (a menos que se tengan los derechos y/o el permiso del
            autor para su publicación);
        </li>
        <li>
            Material que infrinja cualquier otro derecho de autor o viole la privacidad o los derechos de publicación de
            otros;
        </li>
        <li>
            Cualquier material que sea sexualmente explícito, obsceno, difamatorio, amenazante, acosador, abusivo,
            dañino; o
        </li>
        <li>
            Cualquier cosa que sea embarazosa u ofensiva para otra persona o entidad;
        </li>
        <li>
            Solicitud de servicios personales;
        </li>
        <li>
            Trabajos que sean pagados solamente por comisión;
        </li>
        <li>
            Trabajos que no paguen por lo menos el salario mínimo diario;
        </li>
        <li>
            Trabajos que requieran que el candidato, ó empleado, haga una inversión de capital;
        </li>
        <li>
            Trabajos que requieran que el candidato, ó empleado, vaya a un entrenamiento no pagado para ser contratado;
        </li>
        <li>
            Ningún otro lenguaje que no sea el Español o el Inglés.
        </li>
        <li>
            Datos personales sensibles.
        </li>
    </ul>
    </p>
    <h3 class="titulos">B. Usted NO deberá usar su (s) Material (es) para:</h3>
    <p>
    <ul>
        <li>
            Representar a otra persona, viva o muerta;
        </li>
        <li>
            Publicar información falsa, imprecisa o engañosa;
        </li>
        <li>
            Anuncios Publicitarios o pedidos de negocios (incluyendo, posiciones para empresas de tipo multinivel,
            franquicias, FOREX, clubes de membresías, distribución de productos, o cualquier otra que requiera inversión
            monetaria por parte del usuario);
        </li>
        <li>
            Publicar cadenas de cartas ó esquemas piramidales;
        </li>
        <li>
            Publicar opiniones o noticias, anuncios comerciales, promoción de cursos y/o de productos; o
        </li>
        <li>
            Recolectar información masiva de candidatos;
        </li>
    </ul>
    <ul>
        <li>
            C. Su(s) material(es) deben contener suficientes detalles para transmitir claramente al usuario la
            naturaleza y requerimientos de la oportunidad de trabajo, o las calificaciones como un candidato para el
            empleo (datos biográficos completos, datos propios verídicos).
        </li>
        <li>
            D. Materiales de terceros que requieran una cuota o restrinjan de alguna forma el acceso a la información
            del currículo están prohibidos.
        </li>
        <li>
            E. demostradorasconexperiencia.com mantendrá un cuidado razonable para asegurar la calidad de su Sitio Web y
            APP, sin embargo no es su obligación monitorear los materiales publicados. demostradorasconexperiencia.com
            podrá monitorear los materiales publicados en forma aleatoria.
        </li>
        <li>
            F. Es responsabilidad directa de las empresas que la publicación de ofertas a través de
            demostradorasconexperiencia.com esté apegada a la ley de acuerdo a la jurisdicción del país al que
            corresponde, dependiendo de la localidad en la cual se encuentra la oferta de empleo. En particular es de
            suma importancia cumplir con las obligaciones antidiscriminatorias que establece la legislación y no
            restringir el acceso al empleo en virtud de origen étnico o nacional, el género, la edad, talla pequeña, las
            discapacidades, la condición social, las condiciones de salud, la religión, las opiniones, las preferencias,
            el estado civil o cualquier otra que atente contra la dignidad humana y tenga por objeto anular o menoscabar
            los derechos y libertades de las personas, lo que podría constituir una conducta que tiene el efecto de
            anular el ejercicio de sus derechos y la igualdad real de oportunidades con respecto al resto de los y las
            demás aspirantes a ocupar un empleo.
        </li>
    </ul>
    <strong>Los Materiales que sean encontrados y violen las Reglas de Publicación mencionadas anteriormente serán
        removidos a criterio exclusivo de </strong>demostradorasconexperiencia.com
    </p>
    <h3 class="titulos">10.3 Reglas de Conducta:</h3>
    <p>
    <ul>
        <li>
            Usted no puede responder a publicaciones a nombre de otros usuarios de ninguna manera y para ningún otro
            propósito que el esperado (ejemplo, para aplicar al trabajo o para iniciar una discusión con referencia al
            trabajo). Comunicaciones solicitando el negocio del empleador están prohibidas.
        </li>
        <li>
            Usted no puede enviar correos electrónicos comerciales a los usuarios.
        </li>
        <li>
            Reporte publicaciones o conducta inapropiada a: demostradorasconexperiencia@hotmail.com
        </li>
        <li>
            Usted no puede borrar o revisar ningún material publicado por ninguna otra persona o entidad.
        </li>
        <li>
            Si en cualquier momento durante el término del presente contrato demostradorasconexperiencia.com se entera
            que usted lo ha engañado en cuanto a su práctica de negocios y/o servicios, y/o ha comprado servicios que no
            representan precisamente su negocio, demostradorasconexperiencia.com se reserva el derecho de terminar el
            presente contrato y su uso de privilegios inmediatamente sin previa notificación.
        </li>
        <li>
            demostradorasconexperiencia.com no tiene obligación de monitorear la conducta de sus usuarios pero se
            compromete a investigar y responder cuando se reporten violaciones a los términos aquí mencionados.
        </li>
    </ul>
    </p>

    <h3 class="titulos">10.4 Reglas de Seguridad:</h3>
    <p>
        <ul>
    <p>
        A. Los usuarios tienen prohibido violar o atentar contra la seguridad del Sitio Web y APP, incluyendo, sin
        limitación:
    </p>
    <li>
        Accesar datos que no sean previstos para ese usuario o ingresar a un servidor o cuenta en la cual el usuario no
        esté autorizado para accesar. Si usted tiene una contraseña que le permita acceso a un área no pública de este
        sitio de Internet, no podrá divulgar o compartir su contraseña con terceros o utilizar su contraseña para
        cualquier fin no autorizado.
    </li>
    <li>
        Atentar, explorar o probar la vulnerabilidad del sistema o de la red o tratar de traspasar la seguridad o las
        medidas de autenticación sin autorización previa;
    </li>
    <li>
        Atentar e interferir con el servicio de cualquier usuario, servidor o red, (host, network) a través del envío de
        un virus al Sitio Web y APP, u otros actos como sobrecarga (overloading, flooding);
    </li>
    <li>
        Enviar e-mails no solicitados, incluyendo promociones y/o publicidad de productos o servicios;
        <ul>
            <li>
                B. Violación a estas Reglas de Seguridad puede resultar en responsabilidad civil o criminal.
                demostradorasconexperiencia.com investigará los casos que puedan presentar dichas violaciones e
                implicará, y cooperará con las respectivas autoridades en el proceso jurídico de los usuarios que estén
                implicados en esas violaciones.
            </li>
        </ul>
    </li>
    </ul>
    </p>
    <h3 class="titulos">11. Derechos de Propiedad Intelectual:</h3>
    <p>
        El Sitio Web y todos sus derechos, título e intereses del Sitio Web son propiedad única de
        demostradorasconexperiencia.com, y se encuentran protegidos por la leyes mexicanas de derechos de autor y de los
        tratados internacionales. A excepción de las licencias de uso limitado expresamente otorgadas a usted en estos
        términos, demostradorasconexperiencia.com se reserva para el mismo y sus licenciatarios todos los derechos,
        títulos e intereses, sin límite de propiedad en lo aquí mencionado usted no puede reproducir, modificar,
        mostrar, vender o distribuir el contenido, o usarlo en cualquier otra forma para uso público o comercial. Esto
        incluye copiar o adaptar código HTML usado para generar páginas Web en el Sitio Web occmundial.com. El logotipo
        de demostradorasconexperiencia.com y otros nombres y logotipos son marcas de servicio y marcas registradas., y
        todos los productos y nombres de servicio, diseño de marcas y slogans publicitarios son marcas registradas de
        demostradorasconexperiencia.com, Adicionalmente, “apariencia" (look and feel) del Sitio Web y APP (incluyendo la
        combinación de colores, forma de los botones, diseño y otros elementos gráficos) están protegidos por el
        registro de marca de demostradorasconexperiencia.com y sus derechos de autor. Todas las demás marcas contenidas
        en el Sitio Web son marcas registradas de sus respectivos propietarios.
    </p>
    <h3 class="titulos">12. Limitación de responsabilidad de</h3>
    <p>
        demostradorasconexperiencia.com: demostradorasconexperiencia.com no asume ninguna responsabilidad por materiales
        publicados en el Sitio Web y APP por los usuarios y no tiene responsabilidad por sus actividades, omisiones o
        conducta de los usuarios. Asimismo, no asume ninguna responsabilidad del uso de la herramienta, ni por
        materiales publicados en el Sitio Web por los usuarios y no tiene responsabilidad por sus actividades, omisiones
        o conducta de los usuarios.
        Por ningún motivo los servicios prestados por demostradorasconexperiencia.com deben entenderse como servicios
        conocidos como outsourcing, manejo de nóminas, ni ningún servicio similar, por lo que
        demostradorasconexperiencia.com no puede ser considerado por ningún medio o forma como patrón sustituto en
        términos de la Ley Federal del Trabajo vigente en los Estados Unidos Mexicanos. Las ofertas de trabajo
        publicadas en el sitio demostradorasconexperiencia.com y las relaciones individuales de trabajo que puedan
        derivar de ellas, son exclusiva responsabilidad de la persona que lleva a cabo su publicación, motivo por el
        cual, cualquier persona que publique una oferta de trabajo, libera desde este momento y en el futuro a
        demostradorasconexperiencia.com de cualquier responsabilidad derivada de la Ley Federal del Trabajo vigente en
        los Estados Unidos Mexicanos.
        Asimismo, demostradorasconexperiencia.com no es responsable por los servicios educativos y de capacitación
        prestados por terceros con los que demostradorasconexperiencia.com tiene convenios de colaboración, por lo que
        cualquier reclamación deberá ser realizada de manera directa con el proveedor del servicio educativo.
        demostradorasconexperiencia.com no será responsable por las fallas presentadas en la realización de pagos
        mediante plataformas de terceros, por lo que toda aclaración referente a este tema deberá ser canalizada de
        manera directa a la empresa encargada de llevar a cabo dicha transacción.
        Adicionalmente deberá considerarse que según el medio de pago utilizado para la contratación de servicios, éstos
        podrán no estar disponibles sino hasta 36 horas hábiles posteriores a la realización del pago correspondiente.
    </p>
    <h3 class="titulos">13. Exclusión de Anexos por </h3>
    <p>
        demostradorasconexperiencia.com: Nada en el Sitio Web y APP debe ser considerado un anexo, representación o
        garantías con respecto a cualquier usuario o un tercero, ya sea en relación al Sitio Web, a sus productos,
        servicios, contrataciones, experiencia, empleo, prácticas de reclutamiento u otras.
    </p>
    <h3 class="titulos">14. Exclusión de Garantías y de responsabilidad:</h3>
    <p>
        demostradorasconexperiencia.com no es una agencia de empleos ni una firma de reclutamiento, y no tiene ninguna
        representación ni garantiza la efectividad o el tiempo en la obtención de empleo para los usuarios.
        demostradorasconexperiencia.com no garantiza los materiales publicados en este sitio por usuarios que resulten
        candidatos contratados o por puestos por cubrir y no es responsable de ninguna decisión sobre un empleo, por
        cualquier razón hecho por cualquier usuario.
    </p>
    <h3 class="titulos">15. Exclusión de errores y precisión de los materiales publicados en el Sitio Web:</h3>
    <p>
        demostradorasconexperiencia.com no garantiza la veracidad, exactitud, vigencia o confiabilidad de ninguno de los
        materiales publicados por los usuarios, o por cualquier otra forma de comunicación que sea comprometida por los
        usuarios. Los materiales pueden contener inexactitudes o errores tipográficos. Usted acepta que cualquier
        consecuencia en materiales publicados por los usuarios, o en cualquier otra forma de comunicación con los
        usuarios, será a su propio riesgo. Adicionalmente demostradorasconexperiencia.com no garantiza el contenido del
        Sitio Web y APP incluyendo responsabilidad limitada hacia, ligas que no funcionen, inexactitudes o errores
        tipográficos.
    </p>
    <h3 class="titulos">16. EXCLUSIÓN DE GARANTÍAS: </h3>
    <p>
        EL SITIO Y TODO SU CONTENIDO ES PROVEÍDO “COMO- ES" SIN GARANTÍAS DE NINGUNA CLASE, EXPRESAS O IMPLÍCITAS. LA
        EMPRESA Y SUS AGENTES ASOCIADOS (HS GROUP), HASTA DONDE LO PERMITA LA LEY, LIMITA LA RESPONSABILIDAD DE TODAS
        LAS GARANTíAS, INCLUYENDO PERO NO LIMITANDO LA GARANTíA DE COMERCIALIZACIóN, IDONEIDAD PARA UN PROPóSITO
        ESPECíFICO Y NO INFRACCIóN. LA EMPRESA Y SUS AGENTES ASOCIADOS NO OFRECEN GARANTíAS ACERCA DE LA PRECISIóN,
        CONFIABILIDAD, INTEGRIDAD U OPORTUNIDAD DEL CONTENIDO DEL SITIO DE INTERNET, SERVICIOS, SOFTWARE, TEXTO,
        GRáFICAS Y VíNCULOS. demostradorasconexperiencia.com Y SUS AGENTES ASOCIADOS NO GARANTIZA QUE EL SITIO VA A
        OPERAR LIBRE DE ERRORES O QUE EL SITIO Y SUS SERVIDORES ESTÁN LIBRE DE VIRUS INFORMÁTICOS U OTROS MECANISMOS
        DAÑINOS. SI SU USO DEL SITIO WEB RESULTA DIRECTA O INDIRECTAMENTE EN LA NECESIDAD DE REMPLAZAR EQUIPOS O DATOS O
        REALIZAR SERVICIOS, demostradorasconexperiencia.com Y SUS AGENTES ASOCIADOS NO SON RESPONSABLES POR LOS COSTOS
        ASOCIADOS CON DICHOS REEMPLAZOS Y/O SERVICIOS.
    </p>
    <h3 class="titulos">17. Terminación: </h3>
    <p>
        demostradorasconexperiencia.com y sus agentes asociados se reservan el derecho, a su entera discreción, a
        perseguir todos los remedios legales, incluyendo, sin limitación, la eliminación de sus publicaciones en este
        Sitio Web, la terminación inmediata de claves de acceso a este Sitio Web y/o cualesquier otros servicios que le
        brinde la empresa y sus agentes asociados, debido a cualquier incumplimiento suyo a estos términos y condiciones
        de uso o si la empresa es incapaz de verificar o autentificar cualquier información que usted presente al sitio
        de Internet u otros registros; En caso de cancelación del servicio por estas causas
        demostradorasconexperiencia.com ni sus agentes asociados harán ningún reembolso de cantidades pagadas por la
        terminación del servicio.
    </p>
    <h3 class="titulos">18. Ligas a otros sitios: </h3>
    <p>
        demostradorasconexperiencia.com y sus agentes asociados contienen ligas o hipervínculos a Sitios de terceros.
        Estás ligas son proporcionadas para conveniencia de ustedes y los contenidos no son avalados por
        demostradorasconexperiencia.com. demostradorasconexperiencia.com no es responsable por el contenido de esos
        sitios ni por la exactitud de sus materiales. Si usted decide accesar a esos sitios es su responsabilidad.
    </p>
    <h3 class="titulos">19. Enmiendas a este acuerdo y Cambios al Sitio Web: </h3>
    <p>
        demostradorasconexperiencia.com podrá revisar estos términos en cualquier momento y actualizar su contenido.
        Cualquier uso del Sitio Web y APP se considerará como aceptación de usted de los términos aquí mostrados. Si en
        cualquier momento usted encuentra los términos inaceptables, usted no deberá usar este Sitio Web y APP.
        Cualquier término nuevo o diferente proporcionado por usted será específicamente rechazado por
        demostradorasconexperiencia.com podrá realizar cambios a éstos términos sin previo aviso.
    </p>
    <h3 class="titulos">20. Indemnización de </h3>
    <p>
        demostradorasconexperiencia.com: Usted acepta defender, indemnizar y declarar exenta de responsabilidad a la
        Empresa y sus agentes asociados, sus funcionarios, directores, empleados y agentes, frente y contra cualquier
        reclamación, acción judicial o demanda, incluido sin limitaciones los daños, costos legales y contables
        derivados o resultantes de cualquier alegato resultado o en conexión con su uso del Sitio Web, de cualquier
        material publicado por usted o por cualquier incumplimiento a éstos términos. demostradorasconexperiencia.com le
        informará de la existencia de tales reclamaciones, demandas o procedimientos judiciales y le asistirá, a su
        costo, en la defensa de tales reclamaciones, demandas o procedimientos judiciales.
    </p>
    <h3 class="titulos">21. Información del usuario:</h3>
    <p>
        El Aviso de Privacidad de demostradorasconexperiencia.comincorpora este acuerdo.
    </p>
    <h3 class="titulos">22. Notificaciones y preguntas: </h3>
    <p>
        Preguntas acerca del uso de este Sitio Web y APP deberán ser dirigidas a
        demostradorasconexperiencia@hotmail.com, notificaciones deberán ser dirigidas a la dirección mostrada en el
        Sitio Web.
    </p>
    <strong>La presente versión de estos Términos y condiciones fue actualizada por última vez el 26 de Mayo de
        2016</strong>
    <br>
    <br>
    <br>
    <br>
</div>
