<div class="form-group">
    <facebook></facebook>
</div>
<agregar-candidato></agregar-candidato>
<!--ADVERTECIAS LEGALES; TÉRMINOS Y CONDICIONES-->
<div class="row">
    <div class="col-xs-12" style="color:white;">
        <h6>
            Al hacer click en "Registrar", acepto que: <br>
            * He leido y aceptado <a style="color:NavajoWhite;" ui-sref="politicas" target="_blank">Términos
            y Condiciones</a> y la <a style="color:NavajoWhite;" ui-sref="aviso" target="_blank">Politica de
            privacidad.</a> <br>
            * Puedo recibir mensajes de Demostradoras con Experiencia.<br>
            * Tengo al menos 18 años.
        </h6>
    </div>
</div>
