<!--
<vacantes-ordenar on-change="listaVacantes.busqueda(sort)" property="fechaCreacion" order="1"></vacantes-ordenar>
 -->
<!--TÍTULO-->
<div class="col-xs-12">
    <titulo nuevotitulo="{{postEnproceso.nuevotitulo}}"></titulo>
</div>
<!--TARJETAS-->
<div class="col-xs-12 col-sm-6 col-md-4 ajustar-texto"
     dir-paginate="postulacion in postEnproceso.misPostulaciones | itemsPerPage: postEnproceso.perPage">
    <a style="text-decoration:none; color: inherit;" href="" ng-click="postEnproceso.verMas(postulacion.vacanteId, postulacion._id, postulacion.tiendaId)">
        <div class="panel panel-default text-left">
            <!-- BODY DE TARJETA -->
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-12">
                        <div>
                            <strong class="text-uppercase">{{postulacion.tienda().cadena().descripcion}}</strong>
                            <small>{{postulacion.tienda().sucursal}}</small>
                        </div>
                        <div>
                            <small>{{postulacion.vacante().puesto().descripcion}}&nbsp;de&nbsp;{{postulacion.vacante().marca}}</small>
                        </div>
                        <div>
                            <small>Postulado(a): {{postulacion.fechaPostulacion | date : 'dd MMM, yyyy'}}</small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-footer">
                <small class="color01">{{postulacion.vacante().sueldo | currency}}&nbsp;x&nbsp;día</small>
                <span class="pull-right" ng-show="postulacion.postVistoAgencia === true">
                    <small>
                        <strong class="text-primary" ng-hide="postulacion.postVistoCandidato">Solicitud Revisada</strong>
                        <small class="text-muted" ng-show="postulacion.postVistoCandidato">En Proceso</small>
                    </small>
                </span>
            </div>
        </div>
    </a>
</div>
<!--PAGINACIÓN-->
<div class="col-xs-12">
    <dir-pagination-controls on-page-change="postEnproceso.pageChanged(newPageNumber)"></dir-pagination-controls>
</div>