<article class="article gradient-1">
    <div class="container text-center">
        <div class="row">
            <!--
            <vacantes-ordenar on-change="listaVacantes.busqueda(sort)" property="fechaCreacion" order="1"></vacantes-ordenar>
             -->
            <!--TÍTULO-->
            <titulo nuevotitulo="{{postEnproceso.nuevotitulo}}"></titulo>
            <!--TARJETAS-->
            <div class="col-xs-12 col-sm-6 col-md-4 ajustar-texto animated fadeInLeft"
                 dir-paginate="postulacion in postEnproceso.misPostulaciones | itemsPerPage: postEnproceso.perPage">
                <a style="text-decoration:none; color: inherit;" href="" ng-click="postEnproceso.verMas(postulacion.vacanteId, postulacion._id, postulacion.tiendaId)">
                    <div class="panel panel-default text-left tarjetas-hover">
                        <!-- BODY DE TARJETA -->
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-xs-12">
                                    <div>
                                        <strong class="text-uppercase">{{postulacion.tienda().cadena().descripcion}}</strong>
                                        <small class="tarjetas">{{postulacion.tienda().sucursal}}</small>
                                    </div>
                                    <div class="tarjetas">
                                        <small>
                                            {{postulacion.vacante().puesto().descripcion}}&nbsp;de&nbsp;{{postulacion.vacante().marca}}
                                        </small>
                                    </div>
                                    <div class="tarjetas">
                                        <small>
                                            Postulado(a): {{postulacion.fechaPostulacion | date : 'dd MMM, yyyy'}}
                                        </small>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel-footer">
                            <small class="color01">{{postulacion.vacante().sueldo | currency}}&nbsp;x&nbsp;día</small>
                            <span class="pull-right" ng-show="postulacion.postVistoAgencia === true && postulacion.postVistoCandidato === false"><small><small>Solicitud Revisada</small></small></span>
                            <span class="pull-right tarjetas" ng-show="postulacion.postVistoAgencia === true && postulacion.postVistoCandidato === true"><small><small>Procesando</small></small></span>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-xs-12">
                <dir-pagination-controls on-page-change="postEnproceso.pageChanged(newPageNumber)"></dir-pagination-controls>
            </div>
        </div>
    </div>
</article>



<!--
<div class="panel-footer">
    <small class="color01">{{postulacion.vacante().sueldo | currency}}&nbsp;x&nbsp;día</small>
    <span class="pull-right" ng-show="postulacion.postVistoAgencia === true">
        <small ng-class="{'color01': postulacion.postVistoCandidato === false, 'tarjetas': postulacion.postVistoCandidato === true};">
            <small>Solicitud Revisada</small>
        </small>
    </span>
</div>
-->
