<titulo nuevotitulo="{{contactoAgencia.nuevotitulo}}"></titulo>
<!--<div class="col-xs-12 col-sm-12 col-md-offset-3 col-md-6">-->
    <!--<div class="panel panel-default">-->
        <!--<div class="panel-body">-->
            <!--<uib-tabset active="activeForm">-->
                <!--&lt;!&ndash;TAB DATOS&ndash;&gt;-->
                <!--<uib-tab index="0" heading="Datos"">-->
                <!--<br>-->
                <!--<strong>Marca:</strong>-->
                <!--{{ contactoAgencia.vacante.marca}}<br>-->
                <!--<strong>Tipo Vacante:</strong>-->
                <!--{{ contactoAgencia.vacante.puesto().descripcion }}<br>-->
                <!--<strong>Estado:</strong>-->
                <!--{{ contactoAgencia.vacante.estado().descripcion }}<br>-->
                <!--<strong>Sueldo:</strong>-->
                <!--{{ contactoAgencia.vacante.sueldo | currency }} por día-->
                <!--</uib-tab>-->
                <!--&lt;!&ndash;TAB PERFIL&ndash;&gt;-->
                <!--<uib-tab index="1" heading="Perfil">-->
                    <!--<br>-->
                    <!--<strong>Sexo:</strong>-->
                    <!--{{contactoAgencia.vacante.perfil.sexo}} <br>-->
                    <!--<strong>Talla:</strong>-->
                    <!--{{contactoAgencia.vacante.perfil.talla}} <br>-->
                    <!--<strong>Escolaridad:</strong>-->
                    <!--{{contactoAgencia.vacante.perfil.escolaridad}} <br>-->
                    <!--<strong>Habilidades:</strong>-->
                    <!--Facilidad de Palabra, Buena Presentación, Disp. de Trasladarse, Gusto por las Ventas <br>-->
                    <!--<strong>Exp. Descripcion:</strong>-->
                    <!--Alimentos y {{contactoAgencia.vacante.perfil.experiencia.otra}}-->
                <!--</uib-tab>-->
                <!--&lt;!&ndash; TAB HORARIOS&ndash;&gt;-->
                <!--<uib-tab index="2" heading="Horario">-->
                    <!--<br>-->
                    <!--<dl class="dl-horizontal">-->
                        <!--<strong>Dias a laborar:</strong>-->
                        <!--<span ng-repeat="dia in contactoAgencia.vacante.horarios.dias"> {{ dia.id }} </span> <br>-->
                        <!--<strong>Horario:</strong>-->
                        <!--de {{contactoAgencia.vacante.horarios.hrsInicio | date : "shortTime" }} a-->
                        <!--{{contactoAgencia.vacante.horarios.hrsFin | date : "shortTime" }} <br>-->
                        <!--<strong>Duracion:</strong>-->
                        <!--{{contactoAgencia.vacante.horarios.duracion}}-->
                    <!--</dl>-->
                <!--</uib-tab>-->
            <!--</uib-tabset>-->
            <!--<hr>-->
            <!--<div class="row">-->
                <!--<div class="col-xs-12">-->
                    <!--<datos-contacto agenciaid="contactoAgencia.vacante.propietario"></datos-contacto>-->
                <!--</div>-->
            <!--</div>-->
            <!--&lt;!&ndash; DATOS DE LA TIENDA (CADENA / DELEG.MUN / SUCURSAL) &ndash;&gt;-->
            <!--<div class="row">-->
                <!--<div class="col-xs-12" ng-repeat="tienda in contactoAgencia.tiendas">-->
                    <!--<small>-->
                        <!--<strong>{{ tienda.cadena().descripcion }}</strong> /-->
                        <!--{{ tienda.delMpio }} /-->
                        <!--{{ tienda.sucursal }}-->
                    <!--</small>-->
                <!--</div>-->
            <!--</div>-->

            <!--&lt;!&ndash;<div class="list-group">&ndash;&gt;-->
                <!--&lt;!&ndash;<button class="list-group-item" type="button" ng-repeat="tienda in contactoAgencia.tiendas"&ndash;&gt;-->
                        <!--&lt;!&ndash;ng-disabled="tienda.cubierta || contactoAgencia.postulado"&ndash;&gt;-->
                        <!--&lt;!&ndash;ng-class="{'disabled' : tienda.cubierta || contactoAgencia.postulado}">&ndash;&gt;-->
                    <!--&lt;!&ndash;<div class="row">&ndash;&gt;-->
                        <!--&lt;!&ndash;<div class="col-xs-12">&ndash;&gt;-->
                            <!--&lt;!&ndash;<small>&ndash;&gt;-->
                                <!--&lt;!&ndash;<strong>{{ tienda.cadena().descripcion }}</strong> /&ndash;&gt;-->
                                <!--&lt;!&ndash;{{ tienda.delMpio }} /&ndash;&gt;-->
                                <!--&lt;!&ndash;{{ tienda.sucursal }}&ndash;&gt;-->
                            <!--&lt;!&ndash;</small>&ndash;&gt;-->
                        <!--&lt;!&ndash;</div>&ndash;&gt;-->
                    <!--&lt;!&ndash;</div>&ndash;&gt;-->
                <!--&lt;!&ndash;</button>&ndash;&gt;-->
            <!--&lt;!&ndash;</div>&ndash;&gt;-->

            <!--<div class="row">-->
                <!--<div class="col-xs-12">-->
                    <!--<div ng-show="contactoAgencia.postulado" uib-alert type="{{contactoAgencia.success.tipo}}" class="text-center">-->
                        <!--<span class="{{contactoAgencia.success.icono}}"></span>&nbsp;&nbsp;-->
                        <!--<strong>{{contactoAgencia.success.mensaje}} </strong>-->
                        <!--<br>-->
                    <!--</div>-->
                    <!--<div ng-show="!contactoAgencia.postulado && contactoAgencia.vacante.cubierta"-->
                         <!--uib-alert type="{{contactoAgencia.warning.tipo}}" class="text-center">-->
                        <!--<span class="{{contactoAgencia.warning.icono}}"></span>&nbsp;&nbsp;-->
                        <!--<strong>{{contactoAgencia.warning.mensaje}} </strong>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
            <!--&lt;!&ndash;BOTÓN REGRESAR &ndash;&gt;-->
            <!--<div class="pull-left">-->
                <!--<a class="btn btn-block btn-danger" ui-sref="^.lista">-->
                    <!--<span class="fa fa-chevron-left " aria-hidden="true"></span>-->
                    <!--Regregsar-->
                <!--</a>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->

<div class="col-xs-12 col-sm-12 col-md-offset-3 col-md-6">
    <div class="panel panel-default">
        <div class="panel-body">
            <uib-tabset active="activeForm">
                <!--TAB DATOS-->
                <uib-tab index="0" heading="Datos"">
                    <br>
                    <small>
                        <strong>Marca:</strong>
                        {{ contactoAgencia.vacante.marca}}<br>
                        <strong>Tipo Vacante:</strong>
                        {{ contactoAgencia.vacante.puesto().descripcion }}<br>
                        <strong>Estado:</strong>
                        {{ contactoAgencia.vacante.estado().descripcion }}<br>
                        <strong>Sueldo:</strong>
                        {{ contactoAgencia.vacante.sueldo | currency }} por día
                    </small>
                </uib-tab>
                <!--TAB PERFIL-->
                <uib-tab index="1" heading="Perfil">
                    <small>
                        <br>
                        <strong>Sexo:</strong>
                        {{contactoAgencia.vacante.perfil.sexo}} <br>
                        <strong>Talla:</strong>
                        {{contactoAgencia.vacante.perfil.talla}} <br>
                        <strong>Escolaridad:</strong>
                        {{contactoAgencia.vacante.perfil.escolaridad}} <br>
                        <strong>Habilidades:</strong>
                        Facilidad de Palabra, Buena Presentación, Disp. de Trasladarse, Gusto por las Ventas <br>
                        <strong>Exp. Descripcion:</strong>
                        Alimentos y {{contactoAgencia.vacante.perfil.experiencia.otra}}
                    </small>
                </uib-tab>
                <!-- TAB HORARIOS-->
                <uib-tab index="2" heading="Horario">
                    <br>
                    <dl class="dl-horizontal">
                        <small>
                            <strong>Dias a laborar:</strong>
                            <span ng-repeat="dia in contactoAgencia.vacante.horarios.dias"> {{ dia.id }} </span> <br>
                            <strong>Horario:</strong>
                            de {{contactoAgencia.vacante.horarios.hrsInicio | date : "shortTime" }} a
                            {{contactoAgencia.vacante.horarios.hrsFin | date : "shortTime" }} <br>
                            <strong>Duracion:</strong>
                            {{contactoAgencia.vacante.horarios.duracion}}
                        </small>
                    </dl>
                </uib-tab>
            </uib-tabset>
            <hr>
            <div class="row">
                <!-- TIENDA DONDE SE POSTULÓ (CADENA / DELEG.MUN / SUCURSAL) -->
                <div class="col-xs-12" ng-repeat="tienda in contactoAgencia.tiendas">
                    <div class="well">
                        <strong>{{ tienda.cadena().descripcion }}</strong> <br>
                        {{ tienda.delMpio }},
                        {{ tienda.sucursal }}
                    </div>
                </div>

                <!--DATOS DE LA AGENCIA (COMPONENT)-->
                <small>
                    <datos-contacto agenciaid="contactoAgencia.vacante.propietario"></datos-contacto>
                </small>

                <br>

                <!--BOTÓN REGRESAR -->
                <div class="col-xs-12">
                    <button class="btn btn-danger" ui-sref="^.lista">
                        <span class="fa fa-chevron-left " aria-hidden="true"></span>
                        Regregsar
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

