demos {

  // Global Styles

  .body-sb-admin-one {
    background-color: #222;
    margin-top: 100px !important;
  }

  #wrapper {
    padding-left: 0; // Muy problable esta línea ya no se usa, la dejaré sólo por si acaso
  }

  #page-wrapper {
    width: 100%; // Muy problable esta línea ya no sirva se usa, la dejaré sólo por si acaso
    padding: 0; // Muy problable esta línea ya no sirva se usa, la dejaré sólo por si acaso
    background-color: white;
  }

}

@import "../navigation/navigation.less";