<div class="form-group">
    <label class="control-label">
        <h3>¡FELICITACIONES!
            Oficialmente ya eres una Demostradora con Experiencia, te invitamos a seguir nuestro
            <a href="https://www.facebook.com/DemostradorasConExperiencia/" target="_blank"><strong>Facebook</strong>
            </a> para conocer más detalles de nuestro proyecto.
        </h3>
    </label>
    <!-- BOTÓN SIGUIENTE -->
    <button type="button" class="btn btn-default btn-block" ng-click="registroExito.verVacantes()"> Ver vacantes </button>
</div>

