<titulo-inicio titulo="reiniciarContrasenia.titulo"></titulo-inicio>
<br>
<div class="panel panel-default">
    <div class="panel-body">
        <form role="form" class="form-inline" id="reiniciarContraseniaFormId" name="reiniciarContraseniaForm"
              nonvalidate autocomplete="off">
            <div class="row" ng-hide="reiniciarContrasenia.tipoMsj === 'success'">
                <!-- CONTRASEÑA  -->
                <div class="col-xs-8 col-sm-8">
                    <div class="form-group" ng-class="{ 'has-error' : reiniciarContraseniaForm.newPassword.$invalid && !reiniciarContraseniaForm.newPassword.$pristine }">
                        <input id="candidatoPasswordID" class="form-control" name="newPassword" type="password"
                               placeholder="" aria-describedby="basic-addon1" required
                               ng-model="reiniciarContrasenia.newPassword">
                        <div ng-messages="reiniciarContraseniaForm.newPassword.$dirty && reiniciarContraseniaForm.newPassword.$error" role="alert">
                            <div class="ng-mensajes" ng-message="required">Campo requerido</div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-4">
                    <button type="button"
                            class="btn btn-default btn-block"
                            ng-class="{'disabled': reiniciarContrasenia.cargando === true}"
                            ng-disabled="reiniciarContraseniaForm.$invalid || reiniciarContrasenia.cargando === true"
                            ng-click="reiniciarContrasenia.reiniciar()">
                        <span ng-class="{'glyphicon glyphicon-refresh animacion-cargando' : reiniciarContrasenia.cargando}"></span>
                        <span ng-show="reiniciarContrasenia.cargando">cargando...</span>
                        <span ng-hide="reiniciarContrasenia.cargando">Reestablecer</span>
                    </button>
                </div>
            </div>
            <!--ALERTAS-->
            <div class="row">
                <br>
                <div class="col-xs-12">
                    <alertas tipo="reiniciarContrasenia.tipoMsj" mensaje="reiniciarContrasenia.msj"></alertas>
                </div>
            </div>
        </form>
    </div>
</div>
