<div class="row">
    <!-- CHECK BOX EXPERIENCIAS SI (EN ESTE ROW SE CONTROLA EL NÚMERO DE CHECKBOX POR FILA) -->
    <div class="col-xs-12 col-sm-3" ng-repeat="experiencia in checkboxExperiencias.datosExperiencias"
         ng-init="checkboxExperiencias.habilitarCheck(experiencia)">
        <div class="checkbox btn-block">
            <div class="btn-group btn-block">
                <label id="{{experiencia._id}}" name="{{experiencia.descripcion}}"
                       class="btn btn-default btn-block btn-sm" uib-btn-checkbox
                       ng-checked="checkboxExperiencias.disabledCheks"
                       ng-click="checkboxExperiencias.agregarOEliminar(experiencia)"
                       ng-model="experiencia.activo">{{experiencia.descripcion}}        </label>
            </div>
        </div>
    </div>
    <!-- OTRA (ACTIVAR CON EL BOTÓN) -->
    <div class="col-xs-12 col-sm-3">
        <div class="checkbox btn-block">
            <div class="btn-group btn-block">
                <label id="otraExperienciaCheckID" class="btn btn-default btn-block btn-sm" name="otraExperienciaCheck"
                       uib-btn-checkbox ng-click="checkboxExperiencias.agregarOtraHab()"
                       ng-model="checkboxExperiencias.otra.activo"> {{checkboxExperiencias.otra.experiencia}}        </label>
            </div>
        </div>
    </div>
    <!-- OTRA HABILIDAD EN INPUT TEXT -->
    <div class="col-xs-12" ng-show="checkboxExperiencias.otra.activo">
        <div class="input-group">
            <span id="basic-addon1" class="input-group-addon span-demos">
          <strong>Tx</strong>
        </span>
            <input id="otraExperienciaID" class="form-control" name="textExperiencias"
                      placeholder="Escribe otra experiencia" ng-pattern="/^[a-zA-Zñáéíóú\s]+$/" maxlength="15"
                      ng-model="checkboxExperiencias.otraexperiencia">      </input>
        </div>
    </div>
</div>
