<br>
<form role="form" class="property-submit-form" id="loginFormId" name="loginForm" nonvalidate autocomplete="off">
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="row">
                <div class="col-xs-12">
                    <titulo-inicio titulo="login.titulo"></titulo-inicio>
                </div>
            </div>
        </div>
        <div class="panel-body">
            <div class="row">
                <!--FACEBOOK-->
                <div class="col-sm-offset-2 col-sm-8">
                    <div class="form-group">
                        <facebook></facebook>
                    </div>
                </div>
                <!--CORREO-->
                <div class="col-xs-12">
                    <hr>
                    <div class="form-group" ng-class="{ 'has-error' : loginForm.usuario.$invalid && !loginForm.usuario.$pristine }">
                        <input id="candidatoEmailId"
                               class="form-control"
                               name="usuario"
                               type="email"
                               placeholder="Correo electrónico"
                               aria-describedby="basic-addon1"
                               required
                               ng-model="login.credentials.email">
                        <div ng-messages="loginForm.usuario.$dirty && loginForm.usuario.$error" role="alert">
                            <div class="ng-mensajes" ng-message="required">Campo requerido</div>
                            <div class="ng-mensajes" ng-message="email">Formato incorrecto</div>
                        </div>
                    </div>
                </div>
                <!--CONTRASEÑA-->
                <div class="col-xs-12">
                    <div class="form-group" ng-class="{ 'has-error' : loginForm.password.$invalid && !loginForm.password.$pristine }">
                        <input id="candidatoPasswordID"
                               class="form-control"
                               name="password"
                               type="password"
                               placeholder="Contraseña"
                               aria-describedby="basic-addon1"
                               required
                               ng-model="login.credentials.password">
                        <div ng-messages="loginForm.password.$dirty && loginForm.password.$error" role="alert">
                            <div class="ng-mensajes" ng-message="required">Campo requerido</div>
                        </div>
                        <a class="pull-right" ui-sref="demos.recuperar"><small><small>¿Has olvidado tu contraseña?</small></small></a>
                    </div>
                </div>
                <!--BOTÓN INGFRESAR Y LINKS -->
                <div class="col-xs-12">
                    <button class="btn btn-default center-block"
                            ng-class="{'disabled': login.cargando === true}"
                            ng-disabled="loginForm.$invalid || login.cargando === true"
                            ng-click="login.login()">
                        <span ng-class="{'glyphicon glyphicon-refresh animacion-cargando' : login.cargando}"></span>
                        <span ng-show="login.cargando">PROCESANDO...</span>
                        <span ng-hide="login.cargando">INGRESAR</span>
                    </button>
                </div>
                <!--ALERTA-->
                <div class="col-xs-12">
                    <alertas tipo="login.tipoMsj" mensaje="login.msj"></alertas>
                </div>
            </div>
        </div>
        <div class="panel-footer">
            <div class="row">
                <!--BOTÓN INGFRESAR Y LINKS -->
                <div class="col-xs-12">
                    <span class="pull-left"><small><small>¿No tienes cuenta?</small></small></span>
                    <a class="btn btn-default pull-right" ui-sref="demos.registro.datos">REGÍSTRATE</a>
                </div>
            </div>
        </div>
    </div>
</form>