<h4 class="text-center ajustar-texto">
    Bienvenido(a): {{registroFacebook.candidatoReg.nombre}}&nbsp;{{registroFacebook.candidatoReg.apellidos}}
</h4>
<form role="form" class="property-submit-form" id="registroFacebookFrmId" name="registroFacebookFrm" novalidate autocomplete="off">
    <div class="row">
        <div  class="col-xs-3 col-md-2">
            <div class="form-group">
                <div class="input-group">
                    <codigo-pais-celular iso2="agregarCandidato.paisiso2"
                                         paislada="registroFacebook.datos.paisLada">
                    </codigo-pais-celular>
                </div>
            </div>
        </div>
        <div class="col-xs-9 col-md-4">
            <!-- CELULAR -->
            <div class="form-group"
                 ng-class="{ 'has-error' : registroFacebookFrm.celular.$invalid && !registroFacebookFrm.celular.$pristine}">
                <div class="input-group">
                    <span class="input-group-addon  span-demos">
                                <i class="fa fa-phone" aria-hidden="true"></i>
                            </span>
                    <num-celular paislada="registroFacebook.datos.paisLada"
                                 celular="registroFacebook.datos.celular">
                    </num-celular>
                </div>
                <div ng-messages="registroFacebookFrm.celular.$dirty && registroFacebookFrm.celular.$error"
                     role="alert">
                    <div style="color:yellow;" ng-message="required"> Campo requerido</div>
                    <div style="color:yellow;" ng-message="maxlength, minlength">Son requeridos 10 números</div>
                    <div style="color:yellow;" ng-message="pattern">Celular, solo numeros</div>
                    <div style="color:yellow;" ng-message="celInvalido">Celular ya esta registrado</div>
                </div>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label" style="color:white;">
            Fecha de nacimiento:
        </label>
    </div>
    <!-- DIA MES AÑO -->
    <div class="row">
        <!-- AÑO -->
        <div class="col-xs-12 col-sm-4">
            <div class="form-group"
                 ng-class="{ 'has-error' : registroFacebookFrm.elegirAnio.$invalid && !registroFacebookFrm.elegirAnio.$pristine}">
                <div class="input-group">
                            <span class="input-group-addon span-demos" id="basic-addon1"><i class="fa fa-chevron-down"
                                                                                            aria-hidden="true"></i></span>
                    <elegir-anio anioid="registroFacebook.datos.nacimientoAnio"></elegir-anio>
                    <div ng-messages="registroFacebookFrm.elegirAnio.$dirty && registroFacebookFrm.elegirAnio.$error"
                         role="alert">
                        <div style="color:yellow;" ng-message="required">Campo requerido</div>
                    </div>
                </div>
            </div>
        </div>
        <!-- MES -->
        <div class="col-xs-12 col-sm-4">
            <div class="form-group"
                 ng-class="{ 'has-error' : registroFacebookFrm.elegirMes.$invalid && !registroFacebookFrm.elegirMes.$pristine}">
                <div class="input-group">
                            <span class="input-group-addon span-demos" id="basic-addon1"><i class="fa fa-chevron-down"
                                                                                            aria-hidden="true"></i></span>
                    <elegir-mes mesid="registroFacebook.datos.nacimientoMes"></elegir-mes>
                    <div ng-messages="registroFacebookFrm.elegirMes.$dirty && registroFacebookFrm.elegirMes.$error"
                         role="alert">
                        <div style="color:yellow;" ng-message="required">Campo requerido</div>
                    </div>
                </div>
            </div>
        </div>
        <!-- DIA -->
        <div class="col-xs-12 col-sm-4">
            <div class="form-group"
                 ng-class="{ 'has-error' : registroFacebookFrm.elegirDia.$invalid && !registroFacebookFrm.elegirDia.$pristine}">
                <div class="input-group">
                            <span class="input-group-addon span-demos" id="basic-addon1"><i class="fa fa-chevron-down"
                                                                                            aria-hidden="true"></i></span>
                    <elegir-dia diaid="registroFacebook.datos.nacimientoDia"></elegir-dia>
                    <div ng-messages="registroFacebookFrm.elegirDia.$dirty && registroFacebookFrm.elegirDia.$error"
                         role="alert">
                        <div style="color:yellow;" ng-message="required">Campo requerido</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ALERTA: ÉXITO/FALLO al hacer la operación -->
    <div class="row">
        <div class="col-xs-12">
            <alertas tipo="registroFacebook.tipoAlerta" mensaje="registroFacebook.msjAlerta"></alertas>
        </div>
    </div>
    <!-- BOTON ENVIAR -->
    <button class="btn btn-default btn-lg btn-block" type="button"
            ng-disabled="registroFacebookFrm.$invalid" ng-click="registroFacebook.guardar()">
        Enviar
    </button>
</form>
