<h4 class="text-center" style="white-space:nowrap; text-overflow:ellipsis; overflow:hidden; color:white;">
    Bienvenido(a): {{registroFacebook.candidato.nombre}}&nbsp;{{registroFacebook.candidato.apellidos}}
</h4>
<form role="form" class="property-submit-form" id="registroFacebookFrmId" name="registroFacebookFrm" novalidate>

    <div class="form-group">
        <label class="control-label" style="color:white;">
            Fecha de nacimiento:
        </label>
    </div>
    <!-- DIA MES AÑO -->
    <div class="row">
        <!-- AÑO -->
        <div class="col-xs-12 col-sm-4">
            <div class="form-group"
                 ng-class="{ 'has-error' : registroFacebookFrm.elegirAnio.$invalid && !registroFacebookFrm.elegirAnio.$pristine}">
                <div class="input-group">
                            <span class="input-group-addon span-demos" id="basic-addon1"><i class="fa fa-chevron-down"
                                                                                            aria-hidden="true"></i></span>
                    <elegir-anio anioid="registroFacebook.fechaNacimiento.nacimientoAnio"></elegir-anio>
                    <div ng-messages="registroFacebookFrm.elegirAnio.$dirty && registroFacebookFrm.elegirAnio.$error"
                         role="alert">
                        <div style="color:yellow;" ng-message="required">Campo requerido</div>
                    </div>
                </div>
            </div>
        </div>
        <!-- MES -->
        <div class="col-xs-12 col-sm-4">
            <div class="form-group"
                 ng-class="{ 'has-error' : registroFacebookFrm.elegirMes.$invalid && !registroFacebookFrm.elegirMes.$pristine}">
                <div class="input-group">
                            <span class="input-group-addon span-demos" id="basic-addon1"><i class="fa fa-chevron-down"
                                                                                            aria-hidden="true"></i></span>
                    <elegir-mes mesid="registroFacebook.fechaNacimiento.nacimientoMes"></elegir-mes>
                    <div ng-messages="registroFacebookFrm.elegirMes.$dirty && registroFacebookFrm.elegirMes.$error"
                         role="alert">
                        <div style="color:yellow;" ng-message="required">Campo requerido</div>
                    </div>
                </div>
            </div>
        </div>
        <!-- DIA -->
        <div class="col-xs-12 col-sm-4">
            <div class="form-group"
                 ng-class="{ 'has-error' : registroFacebookFrm.elegirDia.$invalid && !registroFacebookFrm.elegirDia.$pristine}">
                <div class="input-group">
                            <span class="input-group-addon span-demos" id="basic-addon1"><i class="fa fa-chevron-down"
                                                                                            aria-hidden="true"></i></span>
                    <elegir-dia diaid="registroFacebook.fechaNacimiento.nacimientoDia"></elegir-dia>
                    <div ng-messages="registroFacebookFrm.elegirDia.$dirty && registroFacebookFrm.elegirDia.$error"
                         role="alert">
                        <div style="color:yellow;" ng-message="required">Campo requerido</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- TÍTULO DIRECCION -->
    <div class="form-group">
        <label class="control-label" style="color:white;">
            Dirección:
        </label>
    </div>
    <!-- DIRECCION -->
    <div class="row">
        <!-- CÓDIGO POSTAL -->
        <div class="col-xs-12 col-sm-4">
            <div class="form-group input-group-sm"
                 ng-class="{ 'has-error' : registroFacebookFrm.codigoPostal.$invalid && !registroFacebookFrm.codigoPostal.$pristine}">
                <input id="codigoPostalID" class="form-control" name="codigoPostal" type="text"
                       placeholder="Código Postal" aria-describedby="sizing-addon1" maxlength="5" minlength="5"
                       ng-maxlength="5" ng-minlength="5" ng-pattern="/^[0-9]{5}$/" required
                       ng-change="registroFacebook.obtenerColonias()"
                       ng-model="registroFacebook.direccion.codigoPostal">
                <div ng-messages="registroFacebookFrm.codigoPostal.$dirty && registroFacebookFrm.codigoPostal.$error"
                     role="alert">
                    <div style="color:yellow;" ng-message="required"> Campo requerido</div>
                    <div style="color:yellow;" ng-message="minlength"> Longitud mínima 5 caracteres</div>
                    <div style="color:yellow;" ng-message="maxlength"> Longitud máxima 5 caracteres</div>
                    <div style="color:yellow;" ng-message="pattern"> Sólo 5 caracteres numéricos</div>
                </div>
            </div>
        </div>
        <!-- ESTADO -->
        <div class="col-xs-12 col-sm-4">
            <div class="form-group input-group-sm"
                 ng-class="{ 'has-error' : registroFacebookFrm.estado.$invalid && !registroFacebookFrm.estado.$pristine}">
                <input id="estadoID" class="form-control" name="estado" type="text" placeholder="Estado"
                       aria-describedby="sizing-addon1" required disabled=""
                       ng-model="registroFacebook.direccion.estado">
                <div ng-messages="registroFacebookFrm.estado.$dirty && registroFacebookFrm.estado.$error" role="alert">
                    <div style="color:yellow;" ng-message="required"> Campo requerido</div>
                </div>
            </div>
        </div>
        <!-- DELEGACIÓN o MUNICIPIO -->
        <div class="col-xs-12 col-sm-4">
            <div class="form-group input-group-sm"
                 ng-class="{ 'has-error' : registroFacebookFrm.delMpio.$invalid && !registroFacebookFrm.delMpio.$pristine}">
                <input id="delMpioID" class="form-control" name="delMpio" type="text" placeholder="Delegación/Municipio"
                       aria-describedby="sizing-addon1" required disabled=""
                       ng-model="registroFacebook.direccion.delMpio">
                <div ng-messages="registroFacebookFrm.delMpio.$dirty && registroFacebookFrm.delMpio.$error" role="alert">
                    <div style="color:yellow;" ng-message="required"> Campo requerido</div>
                </div>
            </div>
        </div>
    </div>
    <!-- DIRECCION -->
    <div class="row">
        <!-- COLONIA -->
        <div class="col-xs-12 col-sm-4">
            <div class="form-group input-group-sm"
                 ng-class="{ 'has-error' : registroFacebookFrm.colonia.$invalid && !registroFacebookFrm.colonia.$pristine}">
                <select id="coloniaID" class="form-control" name="colonia" type="text" aria-describedby="sizing-addon1"
                        required
                        ng-options="colonia.colonia as colonia.colonia for colonia in registroFacebook.colonias track by colonia.colonia"
                        ng-model="registroFacebook.direccion.colonia">
                    <option value="">
                        Colonia
                    </option>
                </select>
                <div ng-messages="registroFacebookFrm.colonia.$dirty && registroFacebookFrm.colonia.$error" role="alert">
                    <div style="color:yellow;" ng-message="required"> Campo requerido</div>
                </div>
            </div>
        </div>
        <!-- CALLE -->
        <div class="col-xs-12 col-sm-4">
            <div class="form-group input-group-sm"
                 ng-class="{ 'has-error' : registroFacebookFrm.calle.$invalid && !registroFacebookFrm.calle.$pristine}">
                <input id="calleID" class="form-control" name="calle" type="text" placeholder="Nombre de la Calle"
                       aria-describedby="sizing-addon1" maxlength="31" minlength="1" ng-maxlength="30" ng-minlength="1"
                       ng-pattern="/^[a-zA-Z-/.&ñáéíóú-\s\d]+$/" ng-model="registroFacebook.direccion.calle">
                <div ng-messages="registroFacebookFrm.calle.$dirty && registroFacebookFrm.calle.$error" role="alert">
                    <div style="color:yellow;" ng-message="minlength"> Longitud mínima 1 caracter</div>
                    <div style="color:yellow;" ng-message="maxlength"> Longitud máxima 30 caracteres</div>
                    <div style="color:yellow;" ng-message="pattern"> Sólo caracteres alfanuméricos</div>
                </div>
            </div>
        </div>
        <!-- NÚMERO EXTERIOR -->
        <div class="col-xs-12 col-sm-4">
            <div class="form-group input-group-sm"
                 ng-class="{ 'has-error' : registroFacebookFrm.numExt.$invalid && !registroFacebookFrm.numExt.$pristine}">
                <input id="numExtID" class="form-control" name="numExt" type="text" placeholder="Número Exterior"
                       aria-describedby="sizing-addon1" maxlength="31" minlength="1" ng-maxlength="30" ng-minlength="1"
                       ng-pattern="/^[a-zA-Z-/.&ñáéíóú-\s\d]+$/" ng-model="registroFacebook.direccion.numExt">
                <div ng-messages="registroFacebookFrm.numExt.$dirty && registroFacebookFrm.numExt.$error" role="alert">
                    <div style="color:yellow;" ng-message="minlength"> Longitud mínima 1 caracter</div>
                    <div style="color:yellow;" ng-message="maxlength"> Longitud máxima 30 caracteres</div>
                    <div style="color:yellow;" ng-message="pattern"> Sólo caracteres alfanuméricos</div>
                </div>
            </div>
        </div>
        <!-- NÚMERO INTERIOR -->
        <div class="col-xs-12 col-sm-4">
            <div class="form-group input-group-sm"
                 ng-class="{ 'has-error' : registroFacebookFrm.numInt.$invalid && !registroFacebookFrm.numInt.$pristine}">
                <input id="numIntID" class="form-control" name="numInt" type="text" placeholder="Núm. Interior."
                       aria-describedby="sizing-addon1" maxlength="31" minlength="1" ng-maxlength="30" ng-minlength="1"
                       ng-pattern="/^[a-zA-Z-/.,&ñáéíóú-\s\d]+$/" ng-model="registroFacebook.direccion.numInt">
                <div ng-messages="registroFacebookFrm.numInt.$dirty && registroFacebookFrm.numInt.$error" role="alert">
                    <div style="color:yellow;" ng-message="minlength"> Longitud mínima 1 caracter</div>
                    <div style="color:yellow;" ng-message="maxlength"> Longitud máxima 30 caracteres</div>
                    <div style="color:yellow;" ng-message="pattern"> Sólo caracteres alfanuméricos</div>
                </div>
            </div>
        </div>
    </div>
    <!-- ALERTA: ÉXITO/FALLO al hacer la operación -->
    <div class="row">
        <br>
        <div class="col-xs-12" ng-show="registroFacebook.respuesta.mostrar">
            <uib-alert type="{{ registroFacebook.respuesta.tipo }}">
                <span class="fa fa-exclamation-triangle"></span>
                <strong> {{ registroFacebook.respuesta.mensaje }} </strong>
            </uib-alert>
        </div>
    </div>
    <!-- BOTON ENVIAR -->
    <button class="btn btn-default btn-lg btn-block" type="submit" value="Submit"
            ng-disabled="registroFacebookFrm.$invalid" ng-click="registroFacebook.guardar()">
        Enviar
    </button>
</form>
