<!-- agregar-direccion></agregar-direccion -->
<form role="form" class="property-submit-form" id="registrarDireccionFrmId"
      name="registrarDireccionFrm" novalidate autocomplete="off">
    <!-- TÍTULO DIRECCION -->
    <div class="form-group">
        <label class="control-label">
            Dirección:
        </label>
    </div>
    <forma-direccion direccion="registroDireccion.direccion"></forma-direccion>
    <!-- BOTON ENVIAR -->
    <button class="btn btn-default btn-block"
            ng-class="{'disabled': registroDireccion.cargando === true}"
            ng-disabled="registrarDireccionFrm.$invalid || registroDireccion.cargando === true"
            type="button" ng-click="registroDireccion.guardar()">
        <span ng-class="{'glyphicon glyphicon-refresh animacion-cargando' : registroDireccion.cargando}"></span>
        <span ng-show="registroDireccion.cargando">cargando...</span>
        <span ng-hide="registroDireccion.cargando">Enviar</span>
    </button>
    <!-- ALERTA: ÉXITO/FALLO al hacer la operación -->
    <div class="row">
        <br>
        <div class="col-xs-12">
            <alertas tipo="registroDireccion.tipoAlerta" mensaje="registroDireccion.msjAlerta"></alertas>
        </div>
    </div>
</form>