<div class="row">
    <div class="col-xs-12">
        <div class="form-group">
            <label class="control-label" style="color:white;">
                <h5>¡Por tu segurirdad!
                    Te hemos enviado un código de confirmación a tu teléfono celular (+{{registroConfirmacion.usuario.phone.number}}), por favor ingresalo en la
                    siguiente casilla:
                </h5>
            </label>
        </div>
    </div>
</div>
<form role="form" class="property-submit-form" id="confirmarRegFrmId" name="confirmarRegFrm" novalidate autocomplete="off">
    <div class="row">
        <div class="col-xs-offset-4 col-xs-4 col-md-offset-5 col-md-2">
            <div class="form-group"
                 ng-class="{ 'has-error' : confirmarRegFrm.codigo.$invalid && !confirmarRegFrm.codigo.$pristine}">
                <div class="input-group">
                    <input id="codigoID" class="form-control" type="text" name="codigo"
                           maxlength="4" minlength="4" aria-describedby="sizing-addon1" required
                           ng-model="registroConfirmacion.codigo">
                </div>
                <div ng-messages="confirmarRegFrm.codigo.$dirty && confirmarRegFrm.codigo.$error"
                     role="alert">
                    <div style="color:yellow;" ng-message="required">requerido</div>
                    <div style="color:yellow;" ng-message="minlength, maxlength">4 digitos</div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-offset-2 col-md-8">
            <alertas tipo="registroConfirmacion.tipoMsj" mensaje="registroConfirmacion.msj"></alertas>
        </div>
    </div>
    <!-- BOTÓN SIGUIENTE -->
    <button type="button" class="btn btn-default btn-lg btn-block"
            ng-disabled="confirmarRegFrm.$invalid"
            ng-click="registroConfirmacion.verficarNumero(confirmarRegFrm)">
        Confrimar Registro
    </button>
</form>
<hr>
<div class="row">
    <div class="col-xs-12">
        <div class="form-group">
            <label class="control-label" style="color:white;">
                ¿No tienes el SMS?
            </label>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <volver-enviar-sms telefono="registroConfirmacion.usuario.phone.number"></volver-enviar-sms>
    </div>
    <div class="col-xs-12">
        <cambiar-celular></cambiar-celular>
    </div>
</div>





