<div class="row">
    <div class="col-xs-12">
        ¡Por tu segurirdad!
        Te hemos enviado un código de confirmación a tu teléfono celular <strong>+{{registroConfirmacion.usuario.phone.number}}</strong>, por favor ingrésalo en la
        siguiente casilla:

    </div>
</div>
<form role="form" class="property-submit-form" id="confirmarRegFrmId" name="confirmarRegFrm" novalidate autocomplete="off">
    <div class="row">
        <div class="col-sm-offset-3 col-sm-6">
            <div class="form-group" ng-class="{ 'has-error' : confirmarRegFrm.codigo.$invalid && !confirmarRegFrm.codigo.$pristine}">
                <input id="codigoID" class="form-control text-center" type="text" name="codigo"
                       placeholder="Código de 4 dígitos"
                       maxlength="4" minlength="4" aria-describedby="sizing-addon1" required
                       ng-model="registroConfirmacion.codigo">
                <div ng-messages="confirmarRegFrm.codigo.$dirty && confirmarRegFrm.codigo.$error" role="alert">
                    <div class="ng-mensajes" ng-message="required">requerido</div>
                    <div class="ng-mensajes" ng-message="minlength, maxlength">4 digitos</div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-offset-2 col-md-8">
            <alertas tipo="registroConfirmacion.tipoMsj" mensaje="registroConfirmacion.msj"></alertas>
        </div>
    </div>
    <!-- BOTÓN SIGUIENTE -->
    <button type="button" class="btn btn-default btn-block"
            ng-disabled="confirmarRegFrm.$invalid"
            ng-click="registroConfirmacion.verficarNumero(confirmarRegFrm)">
        Confrimar Registro
    </button>
</form>
<hr>
<div class="row">
    <div class="col-xs-12">
          <strong>¿No tienes el SMS?</strong>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <volver-enviar-sms telefono="registroConfirmacion.usuario.phone.number"></volver-enviar-sms>
    </div>
    <div class="col-xs-12">
        <cambiar-celular></cambiar-celular>
    </div>
</div>





