<form id="actualizarMailId" class="property-submit-form" name="actualizarMailFrm" role="form" nonvalidate autocomplete="off">
    <!-- CORREO-->
    <div class="row">
        <div class="col-xs-12">
            <div class="form-group" ng-class="{ 'has-error' : actualizarMailFrm.email.$invalid && !actualizarMailFrm.email.$pristine }">
                <input id="candidatoEmailID" class="form-control" name="email" type="email"
                       placeholder="Correo Electrónico" aria-describedby="basic-addon1" required
                       ng-model="actualizarContacto.datosContacto.emails[0].address">
                <div ng-messages="actualizarMailFrm.email.$dirty && actualizarMailFrm.email.$error" role="alert">
                    <div class="ng-mensajes" ng-message="required">Campo requerido</div>
                    <div class="ng-mensajes" ng-message="email">Formato de email incorrecto.</div>
                </div>
            </div>
        </div>
    </div>
    <!-- ALERTA: CAMBIOS EXITOSO MAIL -->
    <div class="row">
        <div class="col-xs-12">
            <alertas tipo="actualizarContacto.tipoMsjMail" mensaje="actualizarContacto.msjMail"></alertas>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <button class="btn btn-default btn-block"
                    type="submit"
                    ng-class="{'disabled': actualizarContacto.cargando1 === true}"
                    ng-disabled="actualizarMailFrm.$invalid || actualizarContacto.cargando1 === true"
                    ng-click="actualizarContacto.actualizarMail()">
                <span ng-class="{'glyphicon glyphicon-refresh animacion-cargando' : actualizarContacto.cargando1}"></span>
                <span ng-show="actualizarContacto.cargando1">Procesando...</span>
                <span ng-hide="actualizarContacto.cargando1">Actualizar E-mail</span>

            </button>
        </div>
    </div>
</form>
<hr>
<form id="actualizarCelId" class="property-submit-form" name="actualizarCelFrm" role="form" nonvalidate>
    <!-- TELÉFONO -->
    <div class="row">
        <div class="col-xs-3 col-md-2">
            <div class="form-group">
                <codigo-pais-celular iso2="actualizarContacto.paisiso2"
                                     paislada="actualizarContacto.paisLada">
                </codigo-pais-celular>
            </div>
        </div>
        <div class="col-xs-9 col-md-4">
            <div class="form-group" ng-class="{ 'has-error' : actualizarCelFrm.celular.$invalid && !actualizarCelFrm.celular.$pristine}">
                <num-celular paislada="actualizarContacto.paisLada"
                             celular="actualizarContacto.datosContacto.phone.number">
                </num-celular>
                <div ng-messages="actualizarCelFrm.celular.$dirty && actualizarCelFrm.celular.$error"
                     role="alert">
                    <div class="ng-mensajes" ng-message="required"> Campo requerido</div>
                    <div class="ng-mensajes" ng-message="maxlength, minlength">Son requeridos 10 números</div>
                    <div class="ng-mensajes" ng-message="pattern">Celular, solo numeros</div>
                    <div class="ng-mensajes" ng-message="celInvalido">Celular ya esta registrado</div>
                </div>
            </div>
        </div>
    </div>
    <!-- ALERTA: CAMBIOS EXITOSO CELULAR -->
    <div class="row">
        <div class="col-xs-12">
            <alertas tipo="actualizarContacto.tipoMsj" mensaje="actualizarContacto.msj"></alertas>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <button class="btn btn-default btn-block"
                    type="submit"
                    ng-class="{'disabled': actualizarContacto.cargando2 === true}"
                    ng-disabled="actualizarCelFrm.$invalid || actualizarContacto.cargando2 === true"
                    ng-click="actualizarContacto.actualizarCel()">
                <span ng-class="{'glyphicon glyphicon-refresh animacion-cargando' : actualizarContacto.cargando2}"></span>
                <span ng-show="actualizarContacto.cargando2">Procesando...</span>
                <span ng-hide="actualizarContacto.cargando2">Actualizar Celular</span>
            </button>
        </div>
    </div>
</form>
<confirmar-celular ng-show="actualizarContacto.tipoMsj === 'success'"></confirmar-celular>

