titulo {
  @media only screen and (max-width: 1024px) {
    .titulo-pantallas {
      font-size: 1em !important;
      margin-bottom: 15px !important;
      margin-top: 0px !important;
    }
  }

  .title-demos {
    margin-top: 0;
    margin-bottom: 60px;
    margin-top: 60px;
  }
}