navigation {

  /* Top Navigation */

  .top-nav {
    padding: 0 15px;
  }

  nav {
    background: rgba(0, 0, 0, 0.3) !important;
    color: white !important;
    border: none !important;
  }


  nav > ul > li > span > a  {
    color: rgba(0, 0, 0, 0.5) !important;
  }

  nav > div > a {
    color: white !important;
  }

  @media (max-width: 5000px) {
    .navbar-header {
      float: none;
    }
    .navbar-left,.navbar-right {
      float: none !important;
    }
    .navbar-toggle {
      display: block;
    }
    .navbar-collapse {
      border-top: 1px solid transparent;
      box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
      top: 0;
      border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
      display: none!important;
    }
    .navbar-nav {
      float: none!important;
      margin-top: 7.5px;
    }
    .navbar-nav>li {
      float: none;
    }
    .navbar-nav>li>a {
      padding-top: 10px;
      padding-bottom: 10px;
    }
    .collapse.in{
      display:block !important;
    }
  }

  .top-nav > li > numPostulacionesVistas > a,
  .top-nav > li > alertaselecvistocandidato > a,
  .top-nav > li > alertanuevasvacantes > a,
  .top-nav > li {
    padding-top: 0px; // Controla la 'gordura' de la seccion de alertas en el navbar
    padding-bottom: 0px; // Controla la 'gordura' de la seccion de alertas en el navbar
    line-height: 20px;
    color: #999;
  }

  a:active,
  a:hover,
  a:focus {
    color: #fff;
  }

  .boton-dropdown-demos {
    color: white!important;
    border: none
  }

  .boton-dropdown-demos:active,
  .boton-dropdown-demos:hover {
    background-color: transparent !important;
  }


  /* Menú desplegable (tres puntos horizontales)*/

  .top-nav > .open > .dropdown-menu {
    float: left;
    position: absolute;
    margin-top: 0;
    border: 1px solid rgba(0, 0, 0, .15);
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    background-color: #fff;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
  }

  .top-nav > .open > .dropdown-menu > li > a {
    white-space: normal;
  }

  // Esta clase activa los iconos cuando están en el menú de navegación principal
  .icono-uisref-activo {
    color: white !important;
  }

  /* ESTILO PARA CUANDO LAS ALERTAS TIENEN SUB MENUS
     En esta primera versión de app no saldrán.
  */

  ul.message-dropdown {
    padding: 0;
    max-height: 250px;
    overflow-x: hidden;
    overflow-y: auto;
  }

  li.message-preview {
    width: 275px;
    border-bottom: 1px solid rgba(0, 0, 0, .15);
  }

  li.message-preview > a {
    padding-top: 15px;
    padding-bottom: 15px;
  }

  li.message-footer {
    margin: 5px 0;
  }

  ul.alert-dropdown {
    width: 200px;
  }

  logout > a {
    color: #9d9d9d !important;
    padding: 10px 15px !important;
    position: relative !important;
    display: block !important;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    line-height: 20px !important;
    width: 225px !important;
  }
  logout > a:hover {
    color: #fff !important;
    text-decoration:none !important;
  }

/*
  // Especial para que el ícono de user pueda soportar
  // nombres de usuario muy largos.
  // Cuando sea de ipad para arriba se verá el nombre
  // completo, pero limitado a 300px.
  ul > li > a.dropdown-toggle  {
    max-width: 300px;
    white-space:nowrap;
    text-overflow:ellipsis;
    overflow:hidden;
  }
  // CEL UTRA FEO
   @media (max-width:320px) and (min-width:1px) {
    ul > li > a.dropdown-toggle  {
      width: 145px;
    }
  }

  // CEL IPHONE
  @media (max-width:320px) and (min-width:241px) {
    ul > li > a.dropdown-toggle  {
      width: 145px;
    }
  }

  // CEL GALAXY s III
  @media (max-width:768px) and (min-width:321px) {
    ul > li > a.dropdown-toggle  {
      width: 225px;
    }
  }
*/

// Este CSS fue creado por Héctor, porque el sb-admin-1.0 tiene un defecto: No cuenta
// con su propio active para un menú con dos niveles. Por eso he creado esta clase.
// Si se van a crear menús con segundos nives es bueno activarlo. Mientras podría permanecer
// en modo comentado.
/*
.sub-nivel-activo{
  background-color: #000;
  color: #ffffff !important;
}
*/
}

